<div>
    <img src="../../../assets/images/tick.jpg" style="margin-left: 646px; margin-top: 26px;">
    <p style="text-align: center; margin-top: 3px;">Token Number: 45633321</p>
    <p style="text-align: center; font-weight: bold; font-size: 31px;">Congratulations !!</p>
    <p style="text-align: center;">You have been successfully subscribed with us and your slot is 10:30AM</p>
    <p style="text-align: center;">!! You can always edit your profile. Note: If your reach before 10:30 AM or after 11:00 AM , your entry is not
        guaranteed.</p>
    <p style="text-align: center;">If you are a vendor, you can register your shop with us : Vendor registration</p>
</div>