/* You can add global styles to this file, and also import other style files */
label{
    font-size: 20px;
    font-weight: 600;
    height: 30px;
}
.item {
    line-height: 50px;
}

input[type="text"],input[type="date"],input[type="number"], textarea, select {
    height: 30px;
    width: 100%;
}

textarea{
    height: 40px;;
}

table {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

img{
    margin-left: auto;
    margin-right: auto;
}
.container{
    text-align: center;
}

.fields-container, .labels-container{
    /* width: 50%; */
    text-align: left;
    margin-left: 50px;
    width: 300px;
}

.fields-container > div, .labels-container > div{
    height: 40px;
    margin-top: 5px;
}

.form-container{
    display: flex;
    /* width: 53%; */
    margin-left: auto;
    margin-right: auto;
}

.btn{
    margin-left: 10px;
    margin-right: 10px;
}

.button-container{
    margin-top: 30px;
}

.container{
    display: flex;
    margin-left: 9%;
}

.tabsSection{
    width: 150px;
}
.tab{

    line-height: 50px;
    background-color: cornflowerblue;
    border: 1px solid aliceblue;
    margin-top: 5px;
    cursor: pointer;
}

.tab:hover{
    color: #ff7a59;
    border: #ff7a59 solid 1px;
    background:#fff;
  }

.formSection{
    margin-left: 50px;
}