<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="section-header">Book your slot</div>
    <div class="container">
      <div class="tabsSection">
        <div class="tab" (click)="routeToCreateProfile()">
          Profile
        </div>
        <div class="tab"  (click)="routeToProfile()">
          Slot Booking
        </div>
      </div>
      <div  class="formSection">
      <form [formGroup]="consumerProfileForm" (ngSubmit)="submitForm()">
        <div class="form-container">
          <div class="labels-container">
            <div>
              <label for="Acode">Area Code:</label>
            </div>
            <div>
              <label for="FT">Visiting facility Type:</label>
  
            </div>
            <div>
              <label for="FTN">Visiting facility name:</label>
  
            </div>
            <div>
              <label for="Vdate">Date of visit:</label>
  
            </div>
            <div>
              <label for="STS">Select Time Slot:</label>
            </div>
  
          </div>
          <div class="fields-container">
            <div>
              <input type="text" id="Acode" name="Acode" formControlName="areaCode" required>
            </div>
            <div>
              <select id="VisitingFacility" name="visitingFacility"  formControlName="facilityType" >
                <option value="Super-markets">Super-markets</option>
                <option value="small Kirana stores">small Kirana stores</option>
                <option value="Pharmacy">Pharmacy</option>
                <option value="Malls">Malls</option>
                <option value="Parlour/salons">Parlour/salons</option>
                <option value="Bank">Bank</option>
                <option value="Clinic">Clinic</option>
                <option value="Bazzar">Bazzar</option>
                <option value="Sabji mandi">Sabji mandi</option>
              </select>
            </div>
            <div>
              <select id="facilityName" name="facilityName"  formControlName="storeName" required>
                <option value="Green land">Green land</option>
                <option value="happy land">happy land </option>
                <option value="M K Ahmed">M K Ahmed</option>
                <option value="Reliance">Reliance</option>
              </select>
            </div>
            <div>
              <input type="date" id="slotDate" name="Vdate" min="new Date()"   formControlName="slotDate"  required>
            </div>
            <div>
              <select id="timeslot" name="timeslot" formControlName="slotTime" >
                <option value="10-10.30">10-10.30</option>
                <option value="10.30-11:00">10.30-11:00</option>
                <option value="11.00-11:30">11.00-11:30</option>
                <option value="11.30-12:00">11.30-12:00</option>
                <option value="12.00-12:30">12.00-12:30</option>
                <option value="13.30-13:00">13.30-13:00</option>
                <option value="13.00-13:30">13.00-13:30</option>
              </select>
            </div>
          </div>
  
        </div>
        <div class="button-container">
            <button type="reset" class="btn btn-primary">Reset</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    </div>
  
  </div>
  
  <router-outlet>
  </router-outlet>