<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <img src="../assets/images/banner.jpg" alt="help us to stop CORONA" style="width: 80%;
    height: 200px; margin-left: 10%;" />
  </header>
    <!-- <app-sign-up></app-sign-up> -->
    <router-outlet></router-outlet>
  <footer>

  </footer>
</body>
</html>