<!--The content below is only a placeholder and can be replaced.-->
<div>
    <div class="container">
      <form [formGroup]="consumerProfileCreationForm" (ngSubmit)="submitForm()">
        <div class="form-container">
          <div class="labels-container">
            <div>
              <label for="Acode">First Name (As per Id proof):</label>
            </div>
            <div>
              <label for="FT">Last Name (As per Id proof):</label>
  
            </div>
            <div>
              <label for="FTN">Govt Id type:</label>
  
            </div>
            <div>
              <label for="Vdate">Id number:</label>
  
            </div>
            <div>
              <label for="STS">Current Address:</label>
            </div>

            <div>
                <label for="STS">Permanent Address:</label>
              </div>

              <div>
                <label for="STS">Mobile Number:</label>
              </div>
  
          </div>
          <div class="fields-container">
            <div>
              <input type="text" id="fName" name="Acode" formControlName="fName" required>
            </div>
            <div>
                <input type="text" id="lName" name="Acode" formControlName="lName" required>
              </div>
            <div>
              <select id="VFT" name="idType" formControlName="idType">
                <option value="Passport">Adhar Card</option>
                <option value="Ration card">Driving License</option>
                <option value="Ration card">Ration Card</option>
              </select>
            </div>
            <div>
                <input type="text" id="idNumber" name="idNumber" formControlName="idNumber" required>
            </div>
            <div>
              <textarea id="currentAddress" formControlName="currentAddress"> </textarea>
            </div>
            <div>
                <textarea id="permanentAddress" formControlName="permanentAddress"> </textarea>
            </div>
            <div>
                <input type="number" id="mobileNumber" formControlName="mobileNumber">
            </div>
          </div>
  
        </div>
        <div class="button-container">
          <button type="reset" class="btn btn-primary">Reset</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>